

<div class="col">
        <h2><%= @user.name %></h2>
        <%= image_tag @user.image_aws,   class: "profile-pic" %>
        <h4> Email: <%= @user.email %> </h4>
        <%= link_to "Signout", destroy_user_session_path, method: :delete %>
</div>

