<%= link_to "Home", root_path %><br>
Welcome <%= @user_name %>! <br>
<h1>Group Profile</h1>  <br>
<h3> Your Admin Group </h3>
<% @all_groups.each do |group| %>
	<h5><%= group.group_name %></h5>
<% end %>
<br>
<br>
<h3> Group Your In </h3>

<br>
<br>
<br>




<%= link_to "Create Group", new_group_path %><br>



