<%= link_to "Home", root_path %><br>
Each group profile page<br>

<%= link_to "Back to your groups", group_index_path %><br>
<h1><%= @current_group.group_name %></h1>
<br>
<% @current_group_users.each do |user| %>
	<p><%= link_to user.name, user %></p>
<% end %>



